{
  "extends": "loopback",
  "parserOptions": {
      "ecmaVersion": 6
  },
  "rules": {
    "semi": ["error", "never"],
    "space-before-function-paren": ["error", "always"],
    "max-len": ["error", 100]
  }
}
